.Drawer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 300px;
  box-sizing: border-box;
  background: #fff;
  transform: translateX(0px);
  transition: transform .3s ease-in;
  z-index: 100;
  ul {
    display: flex;
    flex-direction: column;
    a {
      padding: 0 1.5rem;
    }
  }
  &.close {
    transform: translateX(-300px);
  }
}
